:root {
    --padding-container: 100px 0;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
    overflow: hidden;
}

.hero::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-animation-name: slider;
    animation-name: slider;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    z-index: -1;
}

@keyframes slider {
    0% {
        -webkit-background: linear-gradient(to right, #42424249, #42424249), url(../assets/photos/puebl_magico.jpg);
        background: linear-gradient(to right, #42424249, #42424249), url(../assets/photos/puebl_magico.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        -webkit-background-position: center;
        background-position: center;
        -webkit-background-repeat: no-repeat;
        background-repeat: no-repeat;
        -webkit-transform: scale(1.25) translateY(0);
        transform: scale(1.25) translateY(0);
        -webkit-transform-origin:50% 16%;
        transform-origin:50% 16%;
    }

    25% {
        background: linear-gradient(to right, #42424249, #42424249), url(../assets/photos/puebl_magico.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: scale(1) translateY(0);
        transform-origin:top;
    }

    25.01% {
        background: linear-gradient(to right, #42424249, #42424249), url(../assets/photos/chichen.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: scale(1.25) translateY(0);
        transform-origin:50% 16%;
    }

    50% {
        background: linear-gradient(to right, #42424249, #42424249), url(../assets/photos/chichen.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: scale(1) translateY(0);
        transform-origin:top;
    }

    50.01% {
        background: linear-gradient(to right, #42424249, #42424249), url(../assets/photos/callejonpequeno.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: scale(1.25) translateY(0);
        transform-origin:50% 16%;
    }

    75% {
        background: linear-gradient(to right, #42424249, #42424249), url(../assets/photos/callejonpequeno.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: scale(1) translateY(0);
        transform-origin:top;
    }

    75.01% {
        background: linear-gradient(to right, #42424249, #42424249), url(../assets/photos/pinata.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        transform: scale(1.25) translateY(0);
        transform-origin:50% 16%;
    }

    100% {
        background: linear-gradient(to right, #42424249, #42424249), url(../assets/photos/pinata.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        transform: scale(1) translateY(0);
        transform-origin:top;
    }
}

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__logo a {
    font-size: 2rem;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    color:white;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    padding: 10px;
    border-radius: 6px;
    list-style: none;
}

.nav__items:hover {
    transform: scale(1.3);
    transition: .3s;
}

.nav__links {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.5rem;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display:var(--show, none) ;
}

.hero__container {
    --padding-container: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.char {
    transform: translateY(-500px);
    transition: transform .5s;
  }

.hero__title {
    font-size: 4rem;
}

.welcome {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: #b20a55;
    color: white;
}

.welcome__container {
    display: flex;
    justify-content: space-around;
}

.welcome__text {
    width: 40%;
    font-size: 1.6rem;
    text-align: justify;

}

.welcome__text a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.welcome__container--img {
    width: 25%;
    height: auto;
}

.welcome__container--img img {
    width: 100%;
    box-shadow: 2px 4px 10px #000000;
}

.welcome__container--img img:hover {
    transform: scale(.95);
    transition: .3s;
}

.tours {
    text-align: center;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

.tours__paragraph {
    line-height: 1.7;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.tours__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.tours__imgs {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden; 
    box-shadow: 2px 4px 10px gray;
}

.tours__imgs:hover {
    transform: scale(.95);
    transition: .3s;
}

.tours__img1 {
    position: relative;
    width: 100%;
    height: auto;
    background-image: linear-gradient(180deg, #00000000 0%, #0000008c 100%), url(../assets/photos/cdmx.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none; 
}

.tours__img2 {
    position: relative;
    width: 100%;
    height: auto;
    background-image: linear-gradient(180deg, #00000000 0%, #0000008c 100%), url(../assets/photos/teotihuacan.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
}

.tours__img3 {
    position: relative;
    width: 100%;
    height: auto;
    background-image: linear-gradient(180deg, #00000000 0%, #0000008c 100%), url(../assets/photos/oaxaca.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
}

.tours__title {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    font-size: 3rem;
    font-weight: 300;
}

.testimony {
    background-color: #e5e5f7;
}

.testimony__subtitle {
    text-align: center;
    font-size: 3rem;
    padding-top: 25px;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 90% 90%;
}

.testimony__img2 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 90% 40%;
}

.testimony__texts {
    max-width: 700px;
}

.testimony__course {
    background-color: royalblue;
    color: white;
    display: inline-block;
    padding: 5px;
}

.testimony__review {
    font-size: 1.5rem;
}

.testimony__arrow {
    width: 90%;
    cursor: pointer;
}

.questions {
    text-align: center;
}

.questions__container {
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding {
    padding: 0;
    transition: padding .3s;
    border: 1px solid#5454d4;
    border-radius: 6px;
}

.questions__padding--add {
    padding-bottom: 30px;
}

.questions__answer {
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title {
    display: flex;
    font-size: 2rem;
    padding: 30px 0 30px;
    cursor: pointer;
    color: #001a49;
    justify-content: space-between;
}

.questions__img {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.questions__img--rotate {
    transition: transform .3s;
    transform: rotate(180deg);
}

.questions__show {
    height: 0;
    text-align: left;
    font-size: 1.5rem;
    transition: height .3s;
}

.cta {
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    margin-top: 30px;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    font-size: 1.5rem;
}

.footer {
    background-color: #1d293f;
}

.footer__title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter {
    color: white;
}


.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 60px;
}

.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input {
    background-color: white;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1.5rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091f9;
    border: none;
    font-size: 1.5rem;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy {
    --padding-container:30px 0;
    text-align: center;
    color: white;
}

.footer__copyright {
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img {
    width: 30px;
}


@media (max-width:960px){
    .tours__main {
        gap: 2em;
    }

    .tours__imgs:last-of-type {
        grid-column: 1/-1;
    }

}
@media (max-width:800px) {
    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: black;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show:block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        font-size: 2rem;
    }

    .testimony__container {
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body {
        grid-template-columns: 1fr;
        grid-auto-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }

    .testimony__img, .testimony__img2{
        width: 200px;
        height: 200px;
    }

    .footer__container {
        flex-wrap: wrap;
    }

    .nav--footer {
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer {
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input {
        flex: 1;
    }

}

@media (max-width:600px){

    .testimony {
        --padding-container:60px 0;
    }

    .testimony__container {
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow {
        width: 100%;
    }

    .testimony__course {
        margin-top: 15px;
    }


    .footer__title {
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer {
        padding-bottom: 60px;
    }

    .nav__link--footer {
        justify-content: space-between;
    }

    .footer__inputs {
        flex-wrap: wrap;
    }

    .footer__input {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit {
        margin-right: auto;
        margin-left: 0;
    }
}